//resets
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before,*::after {
    box-sizing: inherit;
}
body{
    margin: 0;
    color: $black-color;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.cta-resets{
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: $black-color;
    font-size: $text-font;
    padding: 0.6em 2.4em;
    border-radius: 10rem;
}