//typography
body,button,input{
    font-family: 'Montserrat', sans-serif;
}

//font-sizes
//considering 1rem=16px
$hero-font: 4.375rem;//70px
$header-font: 2.185rem;//35px
$sub-header-font: 1.875rem;//30px
$text-font: 1.25rem;//20px
